<div>

<style>
body {
    font-family: sans-serif;
}
.zonetitle {
    padding-top: 1em;
    font-size: 2em;
}
.nowplaying {
    padding-top: 1em;
}

.nowplaying .buttons {
    padding-top: 1em;
}
.nowplaying .buttons > button {
    margin-right: 10px;
    width: 100px;
}

.browser {
    margin-top: 30px;
    width: 400px;
}
.browsertitle {
    font-size: 1.3em;
    font-weight: bold;
}
.browsersubtitle {
    font-size: 0.9em;
}

.browseitems {
    margin-left: 20px;
    margin-top: 1em;
}

.browseitemnormal {
    cursor: pointer;
    background-color: #eee;
    color: #0000ff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.browseitemnormal:hover {
    cursor: pointer;
    background-color: #888;
    color: #fff;
}
.browseiteminput {
    background-color: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.browseitem:first-child {
    border-top: 1px solid #aaa;
}
.browseitem {
    border-bottom: 1px solid #aaa;
}
.browseitemtitle {
    font-size: 1.0em;
}
.browseitemsubtitle {
    font-size: 0.80em;
}
form {
    margin: 0;
}
</style>

<div v-if='status == "connecting"'>
    Connecting...
</div>
<div v-else>
    Zone: &nbsp; <select v-model="current_zone_id">
        <option v-for="zone in zones" :value="zone.zone_id">{{ zone.display_name }}</option>
    </select>

    <div v-if='zone' class='zonetitle'>
        {{zone.display_name}} ({{zone.state}})   {{zone.now_playing.image_key}}
    </div>
    <div class='nowplaying' v-if='zone && zone.now_playing'>
        <div>
            <div style='display: inline-block;'>
                <img v-if='zone.now_playing.image_key' :src="'http://localhost:9100/api/image/' + zone.now_playing.image_key + '?scale=fit&width=100&height=100'">
            </div>
            <div style='display: inline-block;'>
                <div>{{zone.now_playing.three_line.line1}}</div>
                <div>{{zone.now_playing.three_line.line2}}</div>
                <div>{{zone.now_playing.three_line.line3}}</div>
            </div>
        </div>

        <div class='buttons' v-if='zone.state != "loading"'>
            <button @click="transport_playpause">{{ zone.state == 'playing' ? 'Pause' : 'Play' }}</button>
            <button @click="transport_stop">Stop</button>
            <button @click="transport_previous">&lt;&lt;</button>
            <button @click="transport_next">&gt;&gt;</button>
        </div>
        <div style='margin-top: 1em;'>
            <tt style='display: inline-block; font-size: 0.8em'>{{to_time(zone.now_playing.seek_position)}}/{{to_time(zone.now_playing.length)}}</tt>
            <div style='width: 440px; height: 4px; background-color: #aaa;'>
            <div style='width: {{440 * zone.now_playing.seek_position / zone.now_playing.length}}px; height: 4px; background-color: #000;'>
        </div>

    </div>
</div>

<div class='browser' v-if='list'>
    <div style='margin-bottom: 20px;'>
        <a style='margin-right: 10px;' href="back" v-if='list.level != 0' @click.prevent='list_back()'>Back</a>
        <a style='margin-right: 10px;' href="home" v-if='list.level != 0' @click.prevent='list_home()'>Home</a>
        <a style='margin-right: 10px;' href="refresh" @click.prevent='list_refresh()'>Refresh</a>
    </div>
    <div>
        <img style='float: left; margin-right: 10px;' v-if='list.image_key' :src="'http://localhost:9100/api/image/' + list.image_key + '?scale=fit&width=100&height=100'">
        <span class='browsertitle'>{{list.title}}</span><br>
        <span class='browsersubtitle'>{{list.subtitle}}</span>
    </div>
    <div style='clear:both;'>
        <div style='float: right;' v-if='list.count != items.length'>
            <tt v-if='listoffset != 0'><a style='text-decoration: none;' href='previouspage' @click.prevent='list_prev_page'>&lt;&lt;</a>&nbsp;</tt>
            {{listoffset+1}}-{{listoffset + items.length}} of {{list.count}}
            <tt v-if='listoffset + items.length < list.count'>&nbsp;<a style='text-decoration: none;' href='nextpage' @click.prevent='list_next_page'>&gt;&gt;</a></tt>
        </div>
    </div>
    <div class='browseitems' style='clear:both;'>
        <div v-for='item in items' class='browseitem'>
            <form v-if='item.input_prompt' action='submit' @submit.prevent='list_input(item)' class='browseiteminput'>
                <img style='float: right; margin: 0 1em;' v-if='item.image_key' :src="'http://localhost:9100/api/image/' + item.image_key + '?scale=fit&width=100&height=100'">
                <div>
                    {{item.input_prompt.prompt}}
                </div>
                <div>
                    <input type='{{item.input_prompt.is_password ? "password" : "text"}}' v-model='item.input_prompt.value'>
                    <input type='submit' value='{{item.input_prompt.action}}' @click.prevent='list_input(item)'>
                </div>
                <br v-if='item.image_key' style='clear:both'/>
            </form>
            <div v-else @click.prevent='list_item(item)' class='browseitemnormal'>
                <img style='float: right; margin: 0 1em' v-if='item.image_key' :src="'http://localhost:9100/api/image/' + item.image_key + '?scale=fit&width=100&height=100'">
                <div class='browseitemtitle'>{{item.title}}</div>
                <div class='browseitemsubtitle'>{{item.subtitle}}</div>
                <br v-if='item.image_key' style='clear:both'/>
            </div>
        </div>
    </div>
    <div>
        <div style='float: right;' v-if='list.count != items.length'>
            <tt v-if='listoffset != 0'><a style='text-decoration: none;' href='previouspage' @click.prevent='list_prev_page'>&lt;&lt;</a>&nbsp;</tt>
            {{listoffset+1}}-{{listoffset + items.length}} of {{list.count}}
            <tt v-if='listoffset + items.length < list.count'>&nbsp;<a style='text-decoration: none;' href='nextpage' @click.prevent='list_next_page'>&gt;&gt;</a></tt>
        </div>
    </div>
</div>

</div>
